*{
    padding: 0;
    margin: 0;
    background-color:#282A36;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.ciel{
    color: #FF79C6;
    text-align: center;
    border: #FF79C6 solid 1px;

}

.menu{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: coral;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.choice:hover{
    color: #FF79C6;
    transition: all 0.05s;
    transform: scale(1.3);
}

.flexbox{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexzone{
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    flex-direction: column;
}

.flashcard_zone{
    display: flex;
    position: relative;
    width: 300px;
    height: 500px;


    width: min-content 300px;
    height: min-content 500px;
}

.flashcard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

/**.flashcard:hover{
    transform: rotateY(180deg);
}**/

#recto{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    backface-visibility: hidden;
    color: #FF79C6;
    background-color: #1b1d24;
    justify-content: center;
    align-items: center;

    border: #FF79C6 4px solid;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

#verso{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    backface-visibility: hidden;
    color:coral;
    background-color: #1b1d24;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;

    border: coral 4px solid;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}


.bouton_zone{
    display: flex;
    width: 300px;
    height: fit-content;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;

}

#compteur{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 12%;
    border: #282A36 solid;
    width: fit-content;
    color: coral;

    background-color: #1b1d24;

    border: #FF79C6 4px solid;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.letsgo{
    display: flex;
    width: 310px;
    height: 120px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.boutons{
    padding: 20px;
    border-radius: 12%;
    width: 100px;
    height: 70px;
    color: coral;
    background-color: #1b1d24;
    text-align: center;

    border: #FF79C6 4px solid;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
                
}



.boutons:hover, #compteur:hover{
    border: #FF79C6 solid;
    transition: all 0.5s;
    transform: scale(1.3);
}


.bardevie{
    display: flex;
    width:306px;
    height: 70px;
    margin-bottom: 2px;
    margin-top: 20px;
    justify-content: space-around;
}

.pdv{
    background-color: red;
    width: 245px;
    height: 5px;
    align-self: center;
    border-radius: 6%;
    border: green 3px solid;
    align-self: center;
}

#ko{
    height: 5px;
    background-color: green;
    width: 100%;
}

#heart{
    width: 50px;
    height: 50px;
}

.deck_zone{
    display: flex;
    justify-content: center;

    height:fit-content;
    width: fit-content;
    flex-wrap: wrap;
}

.maindeck{
    display: flex;
    width: 100px;
    height: 100px;
    border: #FF79C6 4px solid;
    background-color: #1b1d24;

    flex-direction: column;
    justify-content: space-around;
    border-radius: 11%;
    margin: 25px;
    border: coral 4px solid;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.maindeck:hover{
    border:coral solid;
    transition: all 0.5s;
    transform: scale(1.3);
}

.infodeck{
    color: #FF79C6;
    text-align: center;
    background-color: #1b1d24;
}

#score{
    width: 50px;
    height: 50px;
    background-color: #FF79C6;
}

.reloj{
    width: 150px;
    height: 150px;
    width: min-content 150px;
    height: min-content 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/horloge.png);
    background-size: cover;
    border-radius: 20%;
    border:#282A36 4px solid;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.reloj:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

.h{
    width: 8px;
    height: 60px;
    position: absolute;
}

.m{
    width: 4px;
    height: 90px;
    position: absolute;
}

.s{
    width: 2px;
    height: 140px;
    position: absolute;
}

.h, .m, .s{
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.h::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 30px;
    background:#FF79C6;
    z-index: 11;
    border-radius: 6px 6px 0 0;

}

.m::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 50px;
    background: coral;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.s::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background: cyan;
    z-index: 13;
    border-radius: 6px 6px 0 0;
}

.reloj{
    margin: 28px;
}

