*{
    padding: 0;
    margin: 0;
    background-color:#282A36;
    font-weight: bold;
}

.titre{
    color: #FF79C6;
    text-align: center;
    border: #FF79C6 solid 1px;

}

.flexzone{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flashcard_zone{
    display: flex;
    position: relative;
    width: 300px;
    height: 500px;
}

.flashcard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

/**.flashcard:hover{
    transform: rotateY(180deg);
}**/

#recto{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    backface-visibility: hidden;
    background-color: #FF79C6;
    color: black;
    justify-content: center;
    align-items: center;
}

#verso{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    backface-visibility: hidden;
    background-color:coral;
    color: black;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
}


.bouton_zone{
    display: flex;
    width: 300px;
    height: 50px;
    margin-top: 25px;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.boutons, #compteur{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 12%;
    border: #282A36 solid;
    width: fit-content auto;
    background-color: coral;
}

#bfour{
    display: flex;
    margin-top: 15px;
    width: 300px;
    justify-content: center;
}

.boutons:hover, #compteur:hover{
    border: #FF79C6 solid;
    transition: all 0.5s;
    transform: scale(1.3);
}

.bardevie{
    display: flex;
    width:306px;
    height: 70px;
    margin-bottom: 2px;
    justify-content: space-around;
}

.pdv{
    background-color: red;
    width: 245px;
    height: 5px;
    align-self: center;
    border-radius: 6%;
    border: green 3px solid;
    align-self: center;
}

#ko{
    height: 5px;
    background-color: green;
    width: 100%;
}

#heart{
    width: 50px;
    height: 50px;
}

.switch{
    margin-left: 110px;
    margin-top: 10px;
}

