*{
    padding: 0;
    margin: 0;
    background-color:#282A36;
    font-weight: bold;
}

.titre{
    color: #FF79C6;
    text-align: center;
    border: #FF79C6 solid 1px;

}

.flexzone{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}


.boutons{
    padding: 20px;
    border-radius: 12%;
    border: #282A36 solid;
    width: fit-content auto;
    background-color: coral;
}

.boutons:hover{
    border: #FF79C6 solid;
    transition: all 0.5s;
    transform: scale(1.3);
}

.switch{
    align-self: flex-end;
}




