*{
    padding: 0;
    margin: 0;
    background-color:#282A36;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.ciel{
    color: #FF79C6;
    text-align: center;
    border: #FF79C6 solid 1px;

}

.menu{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: coral;
    margin-top: 10px;
    margin-bottom: 10px;
}

.choice:hover{
    color: #FF79C6;
    transition: all 0.05s;
    transform: scale(1.3);
}

.flexzone{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bouton_zone{
    display: flex;
    width: 300px;
    height: fit-content;
    justify-content: space-around;
    margin-top: 25px;
    flex-wrap: wrap;   
    flex-direction: row;
}

.boutons{

    padding: 20px;
    border-radius: 12%;
    border: #282A36 solid;
    width: 100px;
    background-color: coral;
    text-align: center;
}


.boutons:hover{
    border: #FF79C6 solid;
    transition: all 0.5s;
    transform: scale(1.3);
}

.reloj{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/horloge.png);
    background-size: cover;
    border-radius: 20%;
    border:#282A36 4px solid;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0, 0, 0, 0.3),
                inset 0 15px 15px rgba(0, 0, 0, 0.3);
}

.reloj:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

.h{
    width: 8px;
    height: 60px;
    position: absolute;
}

.m{
    width: 4px;
    height: 100px;
    position: absolute;
}

.s{
    width: 2px;
    height: 140px;
    position: absolute;
}

.h, .m, .s{
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.h::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 35px;
    background:#FF79C6;
    z-index: 11;
    border-radius: 6px 6px 0 0;

}

.m::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 50px;
    background: coral;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.s::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background: cyan;
    z-index: 13;
    border-radius: 6px 6px 0 0;
}





