*{
    padding: 0;
    margin: 0;
    background-color:#282A36;
    font-weight: bold;
}

.titre{
    color: #FF79C6;
    text-align: center;
    border: #FF79C6 solid 1px;

}

.flexzone{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
    
}

.creadeck{
    display: flex;
    width: 500px;
    height: 200px;
    border: coral solid 2px;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}

.titulo{
    text-align: center;
    color: coral;
}

.saisie{
    border: #282A36;
    border-bottom: coral solid 1px;
    width: 90%;
    margin-left: 25px;
    text-align: center;
    color: coral;
    font-size: 15px;
    
}

#def{
    margin-bottom: 15px;
}

.bouton_zone{
    display: flex;
    align-self: center;
    width: 500px;
    margin-top: 25px;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.boutons{
    padding: 20px;
    border-radius: 12%;
    border: #282A36 solid;
    width: fit-content auto;
    background-color: coral;
}

.boutons:hover{
    border: #FF79C6 solid;
    transition: all 0.5s;
    transform: scale(1.3);
}



