*{
    background-color: #282A36;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#flexzone{
    height: 100vh;
    width: 100%;
    display: flex;
    




}

.titre{
    color: #FF79C6;
    text-align: center;
}

.pied{
    color: #FF79C6;
    text-align: center;
}

.flashcard{
    display: flex;
    justify-content: center;
    
    

}

.face{
    color: #F8F8F2;
    background-color: #8087F9;
    height: 500px;
    width: 300px;
    border: #FF79C6 solid 3px;
    text-align: center;
    text-align:
    
}